/* Write your CSS here */
.bg-container{
    background-color: #ffd569;
    height: 100vh;
}

.card-container{
    border: 20px;
    border-radius: 10px;
    text-align: center;
}

.heading{
    font-family: "Roboto";
    font-size: 35px;
    color: black;
}
.count-value{
    color: #ffd569;
    font-size: 35px;
}

.image-container{
    display: flex;
}

.image{
    height:150px;
    width: 100px;
}

.button-container{
    display: flex;
}
.button1{
    height: 
}
